<h1>New cart_item</h1>

<%= error_messages_for :cart_item %>

<% form_for(@cart_item) do |f| %>
  <p>
    <b>Product</b><br />
    <%= f.text_field :product_id %>
  </p>

  <p>
    <b>Order</b><br />
    <%= f.text_field :order_id %>
  </p>

  <p>
    <b>Quantity</b><br />
    <%= f.text_field :quantity %>
  </p>

  <p>
    <b>Total price</b><br />
    <%= f.text_field :total_price %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cart_items_path %>
